#Pyspark Dataframe Basics
1. importing pyspark
2. start spark session
3. connect to drive
4. read the dataset
5. Check the datatype of the dataframe
6. check the summary

In [ ]:
# importing
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
# start spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_1").getOrCreate()

In [ ]:
# read the dataset
df = spark.read.csv("/content/drive/MyDrive/student_details_pyspark.csv") #path of the file

In [ ]:
df.show()

+------------+---+-----+
|         _c0|_c1|  _c2|
+------------+---+-----+
|Student_name|Age|Grade|
|     Avinash| 22|   80|
|     Chandan| 18|   90|
|       Richa| 20|   85|
+------------+---+-----+

In [ ]:
from google.colab import drive   #optional step
drive.mount('/content/drive')

In [ ]:
df = spark.read.option("header", True).csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.show()

+------------+---+-----+
|Student_name|Age|Grade|
+------------+---+-----+
|     Avinash| 22|   80|
|     Chandan| 18|   90|
|       Richa| 20|   85|
+------------+---+-----+

In [ ]:
# check the datatype
df.printSchema()

root
 |-- Student_name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Grade: string (nullable = true)

In [ ]:
df = spark.read.option("header", True).option("inferschema", True).csv("/content/drive/MyDrive/student_details_pyspark.csv")

In [ ]:
df.printSchema()

root
 |-- Student_name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Grade: integer (nullable = true)

In [ ]:
# check the sumary
df.describe().show()

+-------+------------+----+-----+
|summary|Student_name| Age|Grade|
+-------+------------+----+-----+
|  count|           3|   3|    3|
|   mean|        null|20.0| 85.0|
| stddev|        null| 2.0|  5.0|
|    min|     Avinash|  18|   80|
|    max|       Richa|  22|   90|
+-------+------------+----+-----+

In [ ]:
df.summary().show()

+-------+------------+----+-----+
|summary|Student_name| Age|Grade|
+-------+------------+----+-----+
|  count|           3|   3|    3|
|   mean|        null|20.0| 85.0|
| stddev|        null| 2.0|  5.0|
|    min|     Avinash|  18|   80|
|    25%|        null|  18|   80|
|    50%|        null|  20|   85|
|    75%|        null|  22|   90|
|    max|       Richa|  22|   90|
+-------+------------+----+-----+